@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerStyle {
    @apply w-full lg:w-[80%] mx-auto flex justify-center md:justify-between gap-4 md:gap-0 py-3 md:px-8 lg:px-0;
  }
  .logo {
    @apply font-bold text-2xl bg-gradient-to-r from-yellow-500 to-red-900 text-transparent bg-clip-text;
  }
  .header-link {
    @apply flex gap-1 items-center;
  }
  .header-icon {
    @apply text-red-500 mt-2 md:text-[25px];
  }
  .links {
    @apply py-4 px-8 hover:bg-white hover:text-[#db1e00] rounded-md transition-all duration-300;
  }
  .mobile-nav {
    @apply flex justify-between items-center lg:hidden border-t-[1px] border-[#db1e00] py-2 px-8;
  }
  .overlay {
    @apply transition-all z-[5] duration-700 absolute inset-0 flex justify-end;
  }
  .mobile-links {
    @apply w-[60%] bg-[#db1e00]  h-full list-none;
  }

  .desktop-links {
    @apply flex w-[80%] mx-auto justify-between font-bold text-xl text-white;
  }
  .pricing {
    @apply w-full pb-[8rem] my-[3rem] lg:w-[30%] bg-[#f3381b] rounded-md shadow-md;
  }
  .pricing-inner {
    @apply w-[70%] p-3 flex items-center justify-center mx-auto border-[1px] shadow-lg font-semibold text-2xl bg-white border-black -mt-[3rem] h-32 rounded-md text-center;
  }
}
.hero {
  background-image: url("../public/pexels-tatiana-syrikova-3975572.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero::after {
  content: "";
  background: #00000067;
  position: absolute;
  inset: 0;
}

.topics::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #db1e00;
  border-radius: 15px;
}
